<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/trade-dev.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/trade.%d{yyyy-MM-dd}-dev.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <logger name="com.deep.trade" level="debug" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="debug">
    <appender-ref ref="FILE"/>
  </root>

</configuration>
