<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>edas.oss.repo</id>
			<repositories>
				<repository>
					<id>edas-oss-central</id>
					<name>taobao mirror central</name>
					<url>http://edas-public.oss-cn-hangzhou.aliyuncs.com/repository</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>edas-oss-plugin-central</id>
					<url>http://edas-public.oss-cn-hangzhou.aliyuncs.com/repository</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
		<activeProfile>edas.oss.repo</activeProfile>
	</activeProfiles>

	<!--Private Maven Repo-->
	<servers>
		<server>
			<id>rdc-releases</id>
			<username>xxx</username>
			<password>xxx</password>
		</server>
		<server>
			<id>rdc-snapshots</id>
			<username>xxxx</username>
			<password>xxx</password>
		</server>
	</servers>
</settings>
